<ion-view hide-nav-bar="true" view-title="Login" align-title="left">
    <!--<ion-content style="background: url(img/pic-.jpg) center; background-size: cover;">-->
    <ion-content style="background-color: rgb(110, 117, 120);">
    <!--<ion-content style="background-color: rgb(22, 160, 133); background-size: covr;">-->
        <!--<div class="hero no-header flat">-->
            <!--<div class="content">-->
                <!--<div class="app-icon"></div>-->
                <!--<h1 class="shape">Behind you</h1>-->
            <!--</div>-->
        <!--</div> -->
        <div class="hero loginPic flat" ng-style="{'background': 'url(img/pic-'+ pictureNumber +'.gif) center', 'background-size': 'cover'}">
            <div class="content">

            </div>
        </div>
        <form ng-submit="login.signin()">
            <div class="list">
                <span ng-show="login.step == 1">
                    <!--<ion-md-input placeholder="Email"
                                  highlight-color="balanced"
                                  type="email" ng-model="login.email">
                    </ion-md-input>-->
                    <div class="question">
                        <input type="text" required/>
                        <label>First Name</label>
                    </div>
                    <button type="button" ng-click="login.step = 2"
                            class="button button-fab-bottom-right button-energized-900">
                        <i class="icon ion-arrow-right-b"></i>
                    </button>
                </span>
                <span ng-show="login.step == 2">
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"
                              ng-model="login.password"></ion-md-input>
                    <button type="button" ng-click="login.step = 3"
                            class="button button-fab button-fab-bottom-right button-energized-900">
                        <i class="icon ion-arrow-right-b"></i>
                    </button>
                </span>
            </div>

            <span ng-show="login.step == 3">
                <div class="padding">
                    <button type="submit" class="button button-full button-assertive ink">Login</button>
                </div>
            </span>
        </form>

        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+
            </button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter
            </button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">
                Facebook
            </button>
        </div>
    </ion-content>
</ion-view>